#rectangle{
  position:absolute;
    width:700px;
    height:700px;
    background:green;

}
#player2{
   position:absolute;
  top:180px;
  right:400px;
    width:120px;
    height:350px;
    background:black;
    color: white;
}
#player4{
 position:absolute;
  top:180px;
  left:50px;
    width:120px;
    height:350px;
    background:black;
    color: white;
}

#player3{
 position:absolute;
  top:60px;
  left:180px;
    width:350px;
    height:120px;
  background:black;
color: white;
}

#player1{
  position:absolute;
  top:530px;
  left:180px;
    width:350px;
    height:120px;
  background:black;
color: white;
}
 #namep4{
    -moz-transform: rotate(-90deg);
   position:absolute;
  top:280px;
  left:0px;
    width: 100;
   height: 20px;
    border: 3px solid #73AD21;
}
 #namep1{
    position: absolute;
    top:660px;
    left:280px;
    width: 100;
   height: 20px;
    border: 3px solid #73AD21;
}
 #namep3{
    position: absolute;
    top:20px;
    left:280px;
    width: 100;
   height: 20px;
    border: 3px solid #73AD21;
}
 #namep2{
   -moz-transform: rotate(-90deg);
   position:absolute;
  top:280px;
  right:350px;
    width: 100;
   height: 20px;
    border: 3px solid #73AD21;
}
#nxtplayer{
  position:absolute;
 top:800px;
 right:100px;
   width:50px;
   height:50px;
}
#array{
   position:absolute;
  top:10px;
  right:0px;
    width:50px;
    height:50px;

}
#PlayersTurn{
   position:absolute;
  top:800px;
  right:0px;
    width:50px;
    height:50px;

}
